<!-- Navigation menu -->
<div id="onepagers" class="navigation-menu-wrapper animated preFadeInRight fadeInRight is-hidden">
    <!-- Navigation Header -->
    <div class="navigation-menu-header">
        <span>Sub Pages</span>
        <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
            <span class="menu-toggle">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!-- Navigation body -->
    <ul class="navigation-menu">
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">shopping_cart</span>Commerce</a>
            <ul>
                <li><a class="is-submenu" href="/commerce-home.html">Shop Home</a></li>
                <li><a class="is-submenu" href="/commerce-product-landing.html">Product landing v1</a></li>
                <li><a class="is-submenu" href="/commerce-product-landing-2.html">Product landing v2</a></li>
                <li><a class="is-submenu" href="/commerce-product-1.html">Product page</a></li>
                <li><a class="is-submenu" href="/commerce-cart.html">Cart page</a></li>
                <li><a class="is-submenu" href="/commerce-payment-flow.html">Checkout page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">domain</span>Company</a>
            <ul>
                <li><a class="is-submenu" href="/about-page-1.html">About v1</a></li>
                <li><a class="is-submenu" href="/about-page-2.html">About v2</a></li>
                <li><a class="is-submenu" href="/case-study-1.html">Case Study v1</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">call</span>Contact</a>
            <ul>
                <li><a class="is-submenu" href="/contact-page-1.html">Contact v1</a></li>
                <li><a class="is-submenu" href="/contact-page-2.html">Contact v2</a></li>
                <li><a class="is-submenu" href="/contact-page-3.html">Contact v3</a></li>
                <li><a class="is-submenu" href="/contact-page-4.html">Contact v4</a></li>
                <li><a class="is-submenu" href="/contact-page-5.html">Contact v5</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link has-new" href="#"><span class="material-icons">book</span>Blog</a>
            <ul>
                <li><a class="is-submenu" href="/blog-posts-full.html">Posts List v1</a></li>
                <li><a class="is-submenu" href="/blog-posts-full-alt.html">Posts List v2</a></li>
                <li><a class="is-submenu" href="/blog-posts-side.html">Posts List v3</a></li>
                <li><a class="is-submenu" href="/blog-posts-side-alt.html">Posts List v4</a></li>
                <li><a class="is-submenu" href="/blog-posts-grid-full.html">Posts Grid v1</a></li>
                <li><a class="is-submenu" href="/blog-posts-grid-full-masonry.html">Posts Grid v2</a></li>
                <li><a class="is-submenu" href="/blog-posts-grid-side.html">Posts Grid v3</a></li>
                <li><a class="is-submenu" href="/blog-posts-grid-side-masonry.html">Posts Grid v4</a></li>
                <li><a class="is-submenu" href="/blog-single-full.html">Single Post V1</a></li>
                <li><a class="is-submenu" href="/blog-single-side.html">Single Post V2</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link has-new" href="#"><span class="material-icons">highlight</span>Error Pages</a>
            <ul>
                <li><a class="is-submenu" href="/error-1.html">Error v1</a></li>
                <li><a class="is-submenu" href="/error-2.html">Error v2</a></li>
                <li><a class="is-submenu" href="/error-3.html">Error v3</a></li>
                <li><a class="is-submenu" href="/error-4.html">Error v4</a></li>
                <li><a class="is-submenu" href="/error-5.html">Error v5</a></li>
                <li><a class="is-submenu" href="/error-6.html">Error v6</a></li>
                <li><a class="is-submenu" href="/error-7.html">Error v7</a></li>
                <li><a class="is-submenu" href="/error-8.html">Error v8</a></li>
            </ul>
        </li>
    </ul>
</div>