<!-- Navigation menu -->
<div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
    <!-- Navigation Header -->
    <div class="navigation-menu-header">
        <span>Demo pages</span>
        <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
            <span class="menu-toggle">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!-- Navigation Body -->
    <ul class="navigation-menu">
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">weekend</span>Agency kit</a>
            <ul>
                <li><a class="is-submenu" href="/agency-home.html">Homepage</a></li>
                <li><a class="is-submenu" href="/agency-about.html">About</a></li>
                <li><a class="is-submenu" href="/agency-portfolio.html">Portfolio</a></li>
                <li><a class="is-submenu" href="/agency-contact.html">Contact</a></li>
                <li><a class="is-submenu" href="/agency-blog.html">Blog</a></li>
                <li><a class="is-submenu" href="/agency-post-nosidebar.html">Post no sidebar</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">wb_incandescent</span>Startup kit</a>
            <ul>
                <li><a class="is-submenu" href="/startup-landing.html">Homepage</a></li>
                <li><a class="is-submenu" href="/startup-about.html">About</a></li>
                <li><a class="is-submenu" href="/startup-product.html">Product</a></li>
                <li><a class="is-submenu" href="/startup-contact.html">Contact</a></li>
                <li><a class="is-submenu" href="/startup-login.html">Login</a></li>
                <li><a class="is-submenu" href="/startup-signup.html">Sign up</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">apps</span>Landing kit 1</a>
            <ul>
                <li><a class="is-submenu" href="/kit1-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit1-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit1-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit1-landing-4.html">Landing page v4</a></li>
                <li><a class="is-submenu" href="/kit1-landing-5.html">Landing page v5</a></li>
                <li><a class="is-submenu" href="/kit1-landing-6.html">Landing page v6</a></li>
                <li><a class="is-submenu" href="/kit1-landing-7.html">Landing page v7</a></li>
                <li><a class="is-submenu" href="/kit1-landing-8.html">Landing page v8</a></li>
                <li><a class="is-submenu" href="/kit1-features.html">Features v1</a></li>
                <li><a class="is-submenu" href="/kit1-features-2.html">Features v2</a></li>
                <li><a class="is-submenu" href="/kit1-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/kit1-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/kit1-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">timelapse</span>Landing kit 2</a>
            <ul>
                <li><a class="is-submenu" href="/kit2-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit2-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit2-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit2-landing-4.html">Landing page v4</a></li>
                <li><a class="is-submenu" href="/kit2-landing-5.html">Landing page v5</a></li>
                <li><a class="is-submenu" href="/kit2-landing-6.html">Landing page v6</a></li>
                <li><a class="is-submenu" href="/kit2-landing-7.html">Landing page v7</a></li>
                <li><a class="is-submenu" href="/kit2-landing-8.html">Landing page v8</a></li>
                <li><a class="is-submenu" href="/kit2-landing-9.html">Landing page v9</a></li>
                <li><a class="is-submenu" href="/kit2-landing-10.html">Landing page v10</a></li>
                <li><a class="is-submenu" href="/kit2-landing-11.html">Landing page v11</a></li>
                <li><a class="is-submenu" href="/kit2-features.html">Features v1</a></li>
                <li><a class="is-submenu" href="/kit2-features-2.html">Features v2</a></li>
                <li><a class="is-submenu" href="/kit2-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/kit2-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/kit2-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">assistant</span>Landing kit 3</a>
            <ul>
                <li><a class="is-submenu" href="/kit3-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit3-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit3-features.html">Feature page</a></li>
                <li><a class="is-submenu" href="/kit3-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/kit3-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/kit3-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">brightness_2</span>Landing kit 4</a>
            <ul>
                <li><a class="is-submenu" href="/kit4-landing.html">Landing page</a></li>
                <li><a class="is-submenu" href="/kit4-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/kit4-help.html">Help center</a></li>
                <li><a class="is-submenu" href="/kit4-help-category.html">Help category</a></li>
                <li><a class="is-submenu" href="/kit4-help-article.html">Help article</a></li>
                <li><a class="is-submenu" href="/kit4-signup.html">Sign Up</a></li>
                <li><a class="is-submenu" href="/kit4-login.html">Login</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">toys</span>Landing kit 5</a>
            <ul>
                <li><a class="is-submenu" href="/kit5-landing.html">Landing page</a></li>
                <li><a class="is-submenu" href="/kit5-features.html">Feature page</a></li>
                <li><a class="is-submenu" href="/kit5-pricing.html">Pricing Page</a></li>
                <li><a class="is-submenu" href="/kit5-login.html">Login / Signup</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">mouse</span>Landing kit 6</a>
            <ul>
                <li><a class="is-submenu" href="kit6-landing.html">Landing page</a></li>
                <li><a class="is-submenu" href="kit6-login.html">Login page</a></li>
                <li><a class="is-submenu" href="kit6-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">work</span>Landing kit
                7</a>
            <ul>
                <li><a class="is-submenu" href="/kit7-landing.html">Landing page</a></li>
                <li><a class="is-submenu" href="/kit7-landing-alt.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit7-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit7-landing-4.html">Landing page v4</a></li>
                <li><a class="is-submenu" href="/kit7-landing-5.html">Landing page v5</a></li>
                <li><a class="is-submenu" href="/kit7-authentication.html">Auth page</a></li>
                <li><a class="is-submenu" href="/kit7-pricing.html">Pricing page</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">public</span>Landing kit 8</a>
            <ul>
                <li><a class="is-submenu" href="/kit8-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit8-landing-1.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit8-landing-2.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit8-landing-3.html">Landing page v4</a></li>
                <li><a class="is-submenu" href="/kit8-landing-4.html">Landing page v5</a></li>
                <li><a class="is-submenu" href="/kit8-landing-5.html">Landing page v6</a></li>
                <li><a class="is-submenu" href="/kit8-landing-6.html">Landing page v7</a></li>
                <li><a class="is-submenu" href="/kit8-pricing.html">Pricing page</a></li>
                <li><a class="is-submenu" href="/kit8-jobs.html">Jobs page</a></li>
                <li><a class="is-submenu" href="/kit8-login.html">Login page</a></li>
                <li><a class="is-submenu" href="/kit8-signup.html">Signup page</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">assessment</span>Landing kit 9</a>
            <ul>
                <li><a class="is-submenu" href="/kit9-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit9-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit9-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit9-landing-4.html">Landing page v4</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">account_balance</span>Landing kit 10</a>
            <ul>
                <li><a class="is-submenu" href="/kit10-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit10-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit10-landing-3.html">Landing page v3</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">shop</span>Landing kit 11</a>
            <ul>
                <li><a class="is-submenu" href="/kit11-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit11-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit11-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit11-landing-4.html">Landing page v4</a></li>
                <li><a class="is-submenu" href="/kit11-landing-5.html">Landing page v5</a></li>
                <li><a class="is-submenu" href="/kit11-landing-6.html">Landing page v6</a></li>
                <li><a class="is-submenu" href="/kit11-landing-7.html">Landing page v7</a></li>
                <li><a class="is-submenu" href="/kit11-landing-8.html">Landing page v8</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">stars</span>Landing kit 12</a>
            <ul>
                <li><a class="is-submenu" href="/kit12-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit12-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit12-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit12-landing-4.html">Landing page v4</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">new_releases</span>Landing kit 13</a>
            <ul>
                <li><a class="is-submenu" href="/kit13-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit13-landing-2.html">Landing page v2</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">code</span>Landing kit 14</a>
            <ul>
                <li><a class="is-submenu" href="/kit14-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit14-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit14-landing-3.html">Landing page v3</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">settings</span>Landing kit 15</a>
            <ul>
                <li><a class="is-submenu" href="/kit15-landing.html">Landing page v1</a></li>
                <li><a class="is-submenu" href="/kit15-landing-2.html">Landing page v2</a></li>
                <li><a class="is-submenu" href="/kit15-landing-3.html">Landing page v3</a></li>
                <li><a class="is-submenu" href="/kit15-landing-4.html">Landing page v4</a></li>
                <li><a class="is-submenu" href="/kit15-landing-5.html">Landing page v5</a></li>
                <li><a class="is-submenu" href="/kit15-landing-6.html">Landing page v6</a></li>
                <li><a class="is-submenu" href="/kit15-about.html">About page</a></li>
                <li><a class="is-submenu" href="/kit15-contact.html">Contact page</a></li>
            </ul>
        </li>
    </ul>
</div>